# ==============================================================================
# CONFIGURAÇÕES DO MOODLE (ESCOPO 1 - EXTRAÇÃO)
# ==============================================================================
MOODLE_USERNAME=seu_usuario_aqui
MOODLE_PASSWORD=sua_senha_aqui


# ==============================================================================
# CONFIGURAÇÕES DO PIPELINE GERAL
# ==============================================================================
# Define o ambiente de execução (development, production)
ENVIRONMENT=development

# Nível de logs do sistema (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO